{% extends 'base/master.html' %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Slug</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in categories_list %}
            <tr>
                <th scope="row">{{ item.pk }}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.slug }}</td>
                <td>{{ item.status }}</td>
                <td>
                    {% if is_super %}
                    {% if item.status == 'deleted' %}
                    <a href="{% url 'category_delete' category_id=item.pk status='published' %}" class="btn btn-warning">
                            Yayinla
                        </a>
                    {% else %}
                    <a href="{% url 'category_delete' category_id=item.pk status='deleted' %}" class="btn btn-warning">
                            Delete
                        </a>
                    {% endif %}
                    
                    
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>

{% endblock %}